let mapleader = ","

map <C-n> <Action>(NextOccurence)
map <C-p> <Action>(PreviousOccurence)
map <leader>hs <Action>(ShowHoverInfo)
map <leader>pp <Action>(ReformatWithPrettierAction)

map <leader>ca <Action>(ShowIntentionActions)
map <leader>cr <Action>(RenameElement)

# FIND
map <leader>ff <Action>(GotoFile)
map <leader>fs <Action>(GotoSymbol)
map <leader>fd <Action>(GotoDeclaration)
map <leader>fr <Action>(FindUsages)

# Copy + Paste
map <leader>sy <Action>(EditorCopy)
map <leader>sp <Action>(EditorPaste)
